<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin</title>
</head>
<body>
<h2>Hello, Admin!</h2>
<br/>
<form th:method="GET" th:action="@{/admin/users}">
    <input type="submit" value="Show all users">
</form>
<br/>

<form th:method="GET" th:action="@{/user}">
    <input type="submit" value="User view">
</form>
<br/>
<form th:method="POST" th:action="@{/logout}">
    <input type="submit" value="Logout">
</form>

</body>
</html>