<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="UTF-8">
    <meta http-equiv="Content-Security-Policy" content="default-src *;
    img-src * 'self' data: https: http:;
    script-src 'self' 'unsafe-inline' 'unsafe-eval' *;
    style-src  'self' 'unsafe-inline' *">
    <link rel="shortcut icon" href="https://example.com/favicon.ico">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <title>Admin Page</title>
</head>
<body>

<!--Навигационная шапка сверху-->
<header>
    <div class="container-fluid" style="padding: 0">
        <div class="row-cols-auto">
            <div class="col-12">
                <nav class="navbar navbar-expand navbar-dark bg-dark sticky-top">
                    <div class="collapse navbar-collapse" id="admin">
                        <div style="padding-left: 15px">

                            <!--Юзер с ролью-->
                            <p class="navbar-brand text-white">
                                <a class="navbar-brand font-weight-bold" id="headerUsername"></a>
                                <a class="navbar-brand">with roles: </a>
                                <a class="navbar-brand" id="headerRoles"></a>
                            </p>
                        </div>
                    </div>

                    <!--Кнопка logout справа-->
                    <ul class="navbar-nav float-lg-right" style="padding-right: 15px">
                        <li class="nav-item">
                            <a class="nav-link text-right" href="/logout">Logout</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>

<!--Панель сбоку и таблица-->
<div class="container-fluid">
    <div class="row">

        <!--Панель сбоку-->
        <div class="col-2" style="padding: 0; padding-top: 15px">
            <ul class="nav nav-pills flex-column" id="v-pills-tab" role="tablist">

                <!--Страница админа-->
                <li class="nav-item">
                    <a class="nav-link active" id="v-pills-admin-tab" data-bs-toggle="tab"
                       href="adminPage.html#adminPage"
                       role="tab">Admin</a>
                </li>

                <!--Страница пользователя-->
                <li class="nav-item">
                    <a class="nav-link" id="v-pills-user-tab" data-bs-toggle="tab" href="#userPage"
                       role="tab">User</a>
                </li>
            </ul>
        </div>

        <!--Основной контент-->
        <div class="col-10 bg-light">
            <div class="tab-content" id="v-pills-tabContent" style="padding: 0; padding-top: 15px; height: 100vh">

                <!--Страница админа-->
                <div class="tab-pane fade show active" id="adminPage" role="tabpanel">

                    <div class="container-fluid">
                        <h2>Admin panel</h2>
                    </div>
                    <div class="container-fluid">
                        <ul class="nav nav-tabs" id="nav-tab" role="tablist">

                            <!--Таблица юзеров-->
                            <li class="nav-item">
                                <a class="nav-link active" id="nav-admin-tab" data-bs-toggle="tab" role="tab"
                                   href="adminPage.html#nav-admin">Users table</a>
                            </li>

                            <!--Страница нового юзера-->
                            <li class="nav-item">
                                <a class="nav-link" id="nav-user-tab" data-bs-toggle="tab" href="#nav-newUser"
                                   role="tab">New user</a>
                            </li>
                        </ul>
                    </div>

                    <div class="tab-content" id="nav-tabContent">

                        <!--Таблица юзеров-->
                        <div class="tab-pane fade show active" id="nav-admin"
                             role="tabpanel">
                            <div class="card">
                                <div class="card-header">All users</div>
                                <div class="card-body text-center">
                                    <table class="table table-striped">
                                        <thead>
                                        <tr>
                                            <th scope="col">ID</th>
                                            <th scope="col">First Name</th>
                                            <th scope="col">Last Name</th>
                                            <th scope="col">Age</th>
                                            <th scope="col">Email</th>
                                            <th scope="col">Role</th>
                                            <th scope="col">Edit</th>
                                            <th scope="col">Delete</th>
                                        </tr>
                                        </thead>
                                        <tbody id="tbodyAllUserTable">
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>


                        <!-- Modal Edit -->
                        <div class="modal fade" id="edit" tabindex="-1" role="dialog"
                             aria-labelledby="showEditModal"
                             aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <form id="formEditUser">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="showEditModal">Edit user</h5>
                                            <button type="button" class="close"
                                                    data-bs-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body text-center">
                                            <div class="container-fluid col-6">

                                                <label for="idEdit"><strong>ID</strong>
                                                    <input class="form-control" type="number"
                                                           id="idEdit" disabled name="idEdit"
                                                           placeholder="ID">
                                                </label>
                                                <br>

                                                <label for="firstNameEdit"><strong>First
                                                    name</strong>
                                                    <input class="form-control" type="text"
                                                           name="name"
                                                           id="firstNameEdit"
                                                           placeholder="First name">
                                                </label>
                                                <br>

                                                <label for="lastNameEdit"><strong>Last name</strong>
                                                    <input name="lastName" type="text"
                                                           class="form-control" placeholder="Last name"
                                                           id="lastNameEdit">
                                                </label>
                                                <br>

                                                <label for="ageEdit"><strong>Age</strong>
                                                    <input name="age" type="text" placeholder="Age"
                                                           class="form-control"
                                                           id="ageEdit">
                                                </label>
                                                <br>

                                                <label for="mailEdit"><strong>Email</strong>
                                                    <input name="username" type="text" placeholder="Email"
                                                           class="form-control"
                                                           id="mailEdit">
                                                </label>
                                                <br>

                                                <label for="passwordEdit"><strong>Password</strong>
                                                    <input name="password" type="password"
                                                           class="form-control" placeholder="Password"
                                                           id="passwordEdit" required>
                                                </label>
                                                <br>

                                                <label class="container-fluid"
                                                       for="rolesEditUser"><strong>Role</strong>
                                                    <select id="rolesEditUser"
                                                            class="form-control" multiple size="2"
                                                            name="roles">
                                                        <option value="ROLE_ADMIN">ADMIN</option>
                                                        <option value="ROLE_USER">USER</option>
                                                    </select>
                                                </label>
                                                <br>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" id="editFormClosedButton" class="btn btn-secondary"
                                                    data-bs-dismiss="modal">Close
                                            </button>
                                            <button type="submit"
                                                    class="btn btn-primary text-light">Edit
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                        <!-- Modal Delete -->
                        <div class="modal fade" id="delete" tabindex="-1"
                             role="dialog" aria-labelledby="deleteModalLabel"
                             aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <form id="formDeleteUser" name="formDeleteUser">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="deleteModalLabel">Delete
                                                user</h5>
                                            <button type="button" class="close" data-bs-dismiss="modal"
                                                    aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body text-center">
                                            <div class="container-fluid col-6">

                                                <label for="idDel"><b>ID</b>
                                                    <input name="id" type="number"
                                                           class="form-control" id="idDel" disabled/>
                                                </label>
                                                <br>

                                                <label for="firstNameDel"><b>First name</b>
                                                    <input name="name" type="text"
                                                           class="form-control" id="firstNameDel" disabled/>
                                                </label>
                                                <br>

                                                <label for="lastNameDel"><b>Last name</b>
                                                    <input name="lastName" type="text"
                                                           class="form-control" id="lastNameDel" disabled/>
                                                </label>
                                                <br>

                                                <label for="ageDel"><b>Age</b>
                                                    <input name="age" type="text"
                                                           class="form-control" id="ageDel" disabled/>
                                                </label>
                                                <br>

                                                <label for="emailDel"><b>Email</b>
                                                    <input name="email" type="text"
                                                           class="form-control" id="emailDel" disabled/>
                                                </label>
                                                <br>

                                                <label for="passwordDelete"><b>Password</b>
                                                    <input name="email" type="text"
                                                           class="form-control" id="passwordDelete" disabled/>
                                                </label>
                                                <br>

                                                <label for="RolesDelete"
                                                       class="form-label">Role</label>
                                                <select id="RolesDelete" class="form-control"
                                                        multiple size="2" name="roles">
                                                    <option value="ROLE_ADMIN">ADMIN</option>
                                                    <option value="ROLE_USER">USER</option>
                                                </select>
                                                <br>

                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                    id="deleteFormCloseButton"
                                                    data-bs-dismiss="modal">Close
                                            </button>
                                            <button type="submit" class="btn btn-danger">Delete
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--Страница нового юзера-->
            <div class="tab-pane fade show" id="nav-newUser" role="tabpanel">
                <div class="card">
                    <div class="card-header fw-bold">Add new user</div>
                    <div class="card-body text-center">
                        <div class="form justify-content-center mx-auto col-5">
                            <form id="formNewUser" name="formNewUser">

                                <div class="container-fluid col-6">
                                    <label for="name"><strong>First name</strong>
                                        <input type="text" class="form-control" name="name"
                                               id="name" placeholder="First name">
                                    </label>
                                </div>

                                <div class="container-fluid col-6">
                                    <label for="lastName"><strong>Last name</strong>
                                        <input type="text" class="form-control" name="lastName"
                                               id="lastName" placeholder="Last name">
                                    </label>
                                </div>

                                <div class="container-fluid col-6">
                                    <label for="age"><strong>Age</strong>
                                        <input type="number" class="form-control" name="age"
                                               id="age" placeholder="Age">
                                    </label>
                                </div>

                                <div class="container-fluid col-6">
                                    <label for="mail"><strong>Email</strong>
                                        <input type="text" class="form-control" name="email"
                                               id="mail" placeholder="Email">
                                    </label>
                                </div>

                                <div class="container-fluid col-6">
                                    <label for="password"><strong>Password</strong>
                                        <input type="password" class="form-control" name="password"
                                               id="password" placeholder="Password">
                                    </label>
                                </div>

                                <div class="col-6 mx-auto">
                                    <label class="container-fluid" for="newUserRoles"><strong>Role</strong>
                                        <select id="newUserRoles" class="form-control" multiple size="2"
                                                name="roles" required>
                                            <option value="ROLE_ADMIN">ADMIN</option>
                                            <option value="ROLE_USER">USER</option>
                                        </select>
                                    </label>
                                </div>

                                <p><input class="btn btn-success" type="submit" value="addNewUser"></p>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Панель пользователя-->
    <div class="tab-pane fade" id="userPage" role="tabpanel">
        <h2>User information-page</h2>
        <div class="card">
            <div class="card-header"><b>About user</b></div>
            <div class="card-body text-center">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">First Name</th>
                        <th scope="col">Last Name</th>
                        <th scope="col">Age</th>
                        <th scope="col">Email</th>
                        <th scope="col">Role</th>
                    </tr>
                    </thead>
                    <tbody id="userPanelBody">
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"
        integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>

<script src="allUsers.js"></script>
<script src="newUser.js"></script>
<script src="DeleteModal.js"></script>
<script src="DeleteUser.js"></script>
<script src="EditModal.js"></script>
<script src="EditUser.js"></script>
<script src="UserPage.js"></script>
</body>
</html>