<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update user</title>
</head>
<body>
<form th:method="PATCH" th:action="@{/admin/{id}/edit(id=${user.getId()})}" th:object="${user}">
    <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
    <lable for="name">Name:</lable>
    <input type="text" th:field="*{name}" id="name"/>
    <br/>
    <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name error</div>

    <br/>
    <lable for="last_name">Lastname:</lable>
    <input type="text" th:field="*{lastName}" id="last_name"/>
    <br/>
    <div style="color:red" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">Lastname error</div>

    <br/>
    <lable for="username">Username:</lable>
    <input type="text" th:field="*{username}" id="username"/>
    <br/>
    <div style="color:red" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Username error</div>

    <br/>
    <lable for="password">password:</lable>
    <input th:field="*{password}" type="text" id="password" />
    <br/>
    <div style="color:red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password error</div>

    <br/>
    <label for="roles">Enter role:</label>
    <select multiple name="roles" id="roles">
        <option>ROLE_USER</option>
        <option>ROLE_ADMIN</option>
    </select>
    <br/>

    <br/>
    <input type="submit" value="Update!"/>
    <br/>

</form>

<br/>

<form th:method="GET" th:action="@{/admin/users}">
    <input type="submit" value="Show All Users">
</form>

<br/>

<form th:method="POST" th:action="@{/logout}">
    <input type="submit" value="Logout">
</form>

</body>
</html>