<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update user</title>
</head>
<body>

<form th:method="PATCH" th:action="@{/admin/users/{id}(id=${user.getId()})}" th:object="${user}">
    <lable for="name">Name:</lable>
    <input type="text" th:field="*{name}" id="name"/>
    <br/>
    <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name error</div>

    <br/>
    <lable for="last_name">Lastname:</lable>
    <input type="text" th:field="*{lastName}" id="last_name"/>
    <br/>
    <div style="color:red" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">Lastname error</div>

    <br/>
    <lable for="email">Email:</lable>
    <input type="text" th:field="*{email}" id="email"/>
    <br/>
    <div style="color:red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email error</div>

    <br/>
    <lable for="password">password:</lable>
    <input type="text" th:field="*{password}" id="password"/>
    <br/>
    <div style="color:red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password error</div>

    <br/>
    <lable for="roles">roles (1-admin, 2-user):</lable>
    <input type="text" th:field="*{roles}" name="roles"/>
    <br/>

    <br/>
    <input type="submit" value="Update!"/>
    <br/>

    <br/>
    <hr/>
    <a th:href="@{/logout}">LOGOUT</a>

</form>

</body>
</html>