<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>All Users</title>
</head>
<body>
<h2>Table of all users</h2>

<br/>
<table border="1">
    <tr>
        <th>Id</th>
        <th>Email</th>
        <th>Name</th>
        <th>Lastname</th>
        <th>roles</th>
    </tr>

    <tr th:each="user : ${users}">

        <td><a th:href="@{/admin/{id}(id=${user.getId()})}" th:text="${user.getId()}">id</a></td>

        <td th:text="${user.getUsername()}">Username</td>
        <td th:text="${user.getName}">Name</td>
        <td th:text="${user.getLastName()}">Lastname</td>

        <td>
            <div th:each="role: ${user.getRoles()}" >
                <span th:if="(${role.getRole()} == 'ROLE_ADMIN')" th:utext="admin"></span>
                <span th:if="(${role.getRole()} == 'ROLE_USER')" th:utext="user"></span>
            </div>
        </td>

    </tr>
</table>
<br/>
<form th:method="GET" th:action="@{/admin/users/new}">
    <input type="submit" value="Create new user">
</form>
<br/>
<form th:method="GET" th:action="@{/admin}">
    <input type="submit" value="Back">
</form>
<br/>
<form th:method="POST" th:action="@{/logout}">
    <input type="submit" value="Logout">
</form>

</body>
</html>