<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>New user</title>
</head>
<body>

<form th:method="POST" th:action="@{/admin/new}" th:object="${user}">
  <lable for="name">name: </lable>
  <input type="text" th:field="*{name}" id="name"/>
  <br/>
  <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name error</div>
  <br/>
  <lable for="lastName">Lastname:</lable>
  <input type="text" th:field="*{lastName}" id="lastName"/>
  <br/>
  <div style="color:red" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">Lastname error</div>
  <br/>
  <lable for="userName">Username:</lable>
  <input type="text" th:field="*{userName}" id="userName"/>
  <br/>
  <div style="color:red" th:if="${#fields.hasErrors('username')}" th:errors="*{userName}">Username error</div>
  <br/>
  <lable for="password">password:</lable>
  <input type="text" th:field="*{password}" id="password"/>
  <br/>
  <div style="color:red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password error</div>
  <br/>
  <lable for="roles">roles (1-admin, 2-user):</lable>
  <input type="text" th:field="*{roles}" id="roles"/>
  <br/>

  <br/>
  <input type="submit" value="Create!"/>
  <br/>

  <br/>
  <hr/>
  <a th:href="@{/logout}">LOGOUT</a>
  <br/>

</form>

</body>
</html>