<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:security="http://www.springframework.org/security/tags"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.springframework.org/security/tags ">

<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>

<body>
<h2>
    <p th:text="${'Hello, ' + user.getName() + '!'}"></p></h2>

</h3>
<br/>

<div>
    <table border="1">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Lastname</th>
            <th>Email</th>
            <th>Role</th>
        </tr>
        </thead>
        <tbody>
        <tr>

            <td th:text="${user.getId}">Id</td>
            <td th:text="${user.getName()}">Name</td>
            <td th:text="${user.getLastName()}">Lastname</td>
            <td th:text="${user.getUsername()}">Username</td>

            <td>
                <div th:each="role: ${user.getRoles()}">
                    <span th:if="(${role.getRole()} == 'ROLE_ADMIN')" th:utext="ADMIN"></span>
                    <span th:if="(${role.getRole()} == 'ROLE_USER')" th:utext="USER"></span>
                </div>
            </td>

        </tr>
        </tbody>
    </table>
</div>
<br/>

<div security:authorize access ="hasRole('ADMIN')">
    <form th:method="GET" th:action="@{/admin}">
        <input type="submit" value="AdminPage">
    </form>
</div>

<br/>
<form th:method="POST" th:action="@{/logout}">
    <input type="submit" value="Logout">
</form>
</body>
</html>